html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    color : white;
}
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

main {
    width: 900px;
    height: 600px;
    width: 100%;
    height: 100%;
}

li{
    list-style: none;  
}

#label_info li:hover{
    background-image: linear-gradient(to right, rgb(49, 49, 48),rgb(46, 44, 44) );
    
}
#lista_playlist li:hover{
    color: rgb(255, 255, 255);
}
.edita_descricao{
    font-family: 'Roboto', sans-serif;
    font-size: 13.8px;
    color: #9d9d9d;
    text-align: center;
    margin-top: 3%;
}
.edita_coracao{
    margin-top: 2%;
    margin-left: 46%;
}
.edita_descricao2{
    font-family: 'Roboto', sans-serif;
    font-size: 13.8px;
    color: #9d9d9d;
    text-align: center;
    margin-top: 1%;
}
.edita_imagem{
    margin-top: 1%;
    float: left;
    margin-left: 45%;
}

.edita_opcoes{
    margin-top: -4%;
    margin-left: 52%;
}
.config{
    margin-left: 8%;
    margin-top: 8%;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.2ch;
    font-weight: 400;
    font-size: 12px;
    color: #9d9d9d;

}

.config_play{
    margin-top: 15%;
    
    margin-left: 15px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.2ch;
}
.menuHorizontal{
    margin-top: 6%;
    margin-left: 8%;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #9d9d9d;
    margin-bottom: 6px;
}
 
.menu_playlist{
    overflow: hidden;
}
.menurodape{
    clear: both;
    float: left;
    width: 100%;
    height: 20%;
    background-color: #040404;
}


.tratarul {
    margin-left: -2%;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.corpo{
    width: 100%;
    height: 90%;
}
footer{
    height: 10%;
    width: 100%;
    position: fixed;
}
/* Responsável pela união das 3 DIVS do rodape */
.juntar{
    top: 0%;
    float: left;
    height: 100%;
    width: 100%; 
}
/* 3 DIVS responsáveis por formar o rodape/player da página */

.rodapeesquerdo{
    float: left;
    background-color: #282828;
    width: 25%;
    height: 100%;

}
.rodapemeio{
    float: left;
    background-color: #282828;
    width: 50%;
    height: 100%;
}
.rodapedireito{
    float: left;
    background-color: #f10303;
    width: 25%;
    height: 100%;
}
/* FIM das 3 DIVS do player */
/* ********************************** */

/* Classes contidas no menu esquerdo do player da página */

.transforma_img{
    float: left;
    width: 16%;
    margin-top: 1%;
    margin-left: 3%;
    margin-bottom: 50%;
}
.transforma_font{
    margin-top: 3%;
    margin-left: 2%;
    float: left;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    color: #dad3d3;
}
.transforma_sub{
    margin-top: 0%;
    margin-left: 3%;
    font-weight: 500;
    float: left;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: #a19e9e;
}
/* ************************************************************* */
/* Classes dos botões contidos no meio do player da pagina */

.botao{
    float: left;
    width: 2%;
    margin-top: 2%;
    margin-right: 0%;
}
.botao1{
    float: left;
    width: 2%;
    margin-top: 2%;
    margin-right: 0%;
}
.botao2{
    float: left;
    width: 4%;
    margin-top: 0%;
    margin-right: 0%;
}
.botao3{
    float: left;
    width: 2%;
    margin-top: 2%;
    margin-right: 0%;
}
.botao4{
    float: left;
    width: 2%;
    margin-top: 2%;
    margin-right: 0%;
}



.rodapemeio p {
    color: #aaaeae;
    float: left;
    font-size: 12px;
    margin-left: -65%;
    margin-top: 6.3%;
}
.mudafont {
    font-family: 'Roboto', sans-serif;
    float: left;
    color: #aaaeae;
    font-size: 12px;
    margin-left: 16%;
    margin-top: 6.3%;
   
}




/* Responsável pela união das 2 DIVS do menu esquerdo */
.janelaesquerda{
    top: 0%;
    float: left;
    height: 100%;
    width: 15%;
}

/* Menu lateral esquerdo */
.janelaMenu {
    top: 0%;
    float: left;
    height: 80%;
    width: 100%;
    background-color: #040404;
    overflow: hidden;
    position: relative;

}
/* DIV que fica no meio  */
.janelaCentro {

    float: left;
    height: 100%;
    width: 40%;
    background-color: #141414;

}
/* DIV que fica na lateral com nome e tempo das musicas */
.janelaDireita {
    float: left;
    height: 100%;
    width: 45%;
    background-color: #171717;
    overflow: hidden;
    position: relative;
}
/* Resposável por alterações na cor da fonte da banda */
.banda{
    color: #646464;
    font-weight: 500;
}
/* Rodape da Página classe que engloba 3 e forma o player  */

.label_conf{
    color: #878787;
    font-family: 'Roboto', sans-serif;
    margin-left: 15px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.2ch;
}
#label_conf :hover{
    color: white;
}

.label_criar{
    padding-bottom: 10%;
    color: #878787;
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
}

.label_menu{
    color: #b3b3b3;
    font-family: 'Roboto', sans-serif;
    margin-left: 13px;
    font-size: 12px;
    font-weight: bold;
}
.label_menu:hover{
    color:white;
}
.installapp{
 margin-top: 8%;
 margin-left: 11%;
 margin-bottom: 3%;
}
.install{
    float: left;
    margin-left: 24%;
    margin-top: -14%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    
}
.editainstall{
    
    margin-left: 7%;
    margin-right: 7%;
}

.imgusuario{
    margin-top: 3%;
    margin-left: 8%;
    border-radius: 20px;
    
}
.nomeusuario{
    float: left;
    margin-left: 25%;
    margin-top: -13%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.menu_tempo{
    font-family: 'Roboto', sans-serif;
    margin-right: 50px;
}
/* Rodape da pagina "Player" */
.janelaBaixo {
    widows: 100%;
    height: 100%;
    background-color: #282828;
    clear: both;
}
p{
    font-family: 'Roboto', sans-serif;
}
/* Titulo do album */
.tituloAlbum{
    margin-top: 0%;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
/* Subtitulo do Album*/
.subtituloAlbum{
    margin-top:1%;
    color: #646464;
    font-size: 15px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
/* Logo spotify */
.imglogo{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
}
/* Imagem do album */
.imgalbum{
    margin-left: 23.7%;
    margin-top: 30px;
}

/* Botão CriarPlaylist */
.criarplaylist{
    
    background-color: #9b9b9b;
    padding-top: 3%;
    width: 40px;
    height: 28px;
    margin-left: 8%;
}
.criarplaylist:hover{
    background-color: white;
}

/* Classe do Create playlist */
.label_playlist{
    float: right;
    color: #848484;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 2%;
    margin-right: 25%;
    font-size: 14px;

}
.label_playlist:hover{
    color: white;
}

/* CLasse do botão */ 

.btn.btn-green {
    background-color: #1db954;
    padding: 11px 44px;
    width: 140px;
    height: 40px;
 }
 
.btn.btn.btn-green:hover{
    background-color: #1db954;
    padding: 11px 44px;
    width: 145px;
    height: 43px;
}

 
 /*  COMEÇO BOTÃO PLAY VERDE DA PÁGINA*/
 .btn {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0%;
    font-weight: var(--glue-font-weight-normal);
    color: #b3b3b3;
    text-transform: uppercase;
    -webkit-transition: none 33ms cubic-bezier(.3,0,.7,1);
    transition: none 33ms cubic-bezier(.3,0,.7,1);
        transition-property: none;
    -webkit-transition-property: all;
    transition-property: all;
    color: #fff;
    margin-top: 16px;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-image: none;
    border: 0;
    border-radius: 100px;
    white-space: normal;
    will-change: transform;
    line-height: 1.6;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 40%;
    font-weight: bold;
 }
/*  FIM BOTÃO PLAY VERDE DA PÁGINA*/



.left{
    clear: both;
    width: 90%;
    float: left;
 }
 .timemusic{
    margin-top: 1%;
    text-align: center;
    width: 8%;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
 }

 .music{
    padding: 1%;
    font-family: 'Roboto', sans-serif;
    height: 45px;
    font-size: 10px;
    font-weight: bold;

}
.actionPlayer{ width: 50%; height: 50%; margin: auto; margin-left:38%; margin-top:1%}
.infoMusicPlay{ width: 100%; height: 50%}

.barraplay{color:silver; width:47%; margin:0 auto;margin-top:3%;margin-right:37%;}

.timeinitial,.barratime,.timefinishmusic{ float: left; height: 100%; }

.timeinitial{width: 10%;text-align: right; clear: both;}
.barratime{width: 80%;}
.timefinishmusic{width: 10%;}